<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="Mappings" type="SystemErrorsDataCollector.Helper.MappingSection, SystemErrorsDataCollector" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
   <appSettings>
     <add key="MonthsWindow" value="-2" />
     <add key ="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=systemerrorssa;AccountKey=hO9iDnzj2tXwvfxND+IR6gKqwhfLmGe5nDQPozggaFt+ore74oUhUmmWhqgyLFXaHKUgf7HCgiFy9vHeXnl8Cw==;EndpointSuffix=core.windows.net"/>
   </appSettings>
  
    <Mappings>
      <ExclusionEvents>
      </ExclusionEvents>
  </Mappings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>