<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="Mappings" type="SystemErrorsDataCollector.Helper.MappingSection, SystemErrorsDataCollector" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
   <appSettings>
      <add key="MonthsWindow" value="-2" />
   </appSettings>
  
    <Mappings>
      <ExclusionEvents>
      </ExclusionEvents>
  </Mappings>

</configuration>